<div>
    <h2 translate="siccApp.tipo_vehiculo.home.title">Tipo_vehiculos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tipo-vehiculo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="siccApp.tipo_vehiculo.home.createLabel">
                        Create new Tipo_vehiculo
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipo"><span translate="siccApp.tipo_vehiculo.tipo">Tipo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descripcion_uso"><span translate="siccApp.tipo_vehiculo.descripcion_uso">Descripcion_uso</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tipo_vehiculo in vm.tipo_vehiculos track by tipo_vehiculo.id">
                    <td><a ui-sref="tipo-vehiculo-detail({id:tipo_vehiculo.id})">{{tipo_vehiculo.id}}</a></td>
                    <td>{{tipo_vehiculo.tipo}}</td>
                    <td>{{tipo_vehiculo.descripcion_uso}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tipo-vehiculo-detail({id:tipo_vehiculo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tipo-vehiculo.edit({id:tipo_vehiculo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tipo-vehiculo.delete({id:tipo_vehiculo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
